<div class='container'>
    <div class="container">
        <div class="card">
            <div class="card-header">{{title}}</div>
            <div class="card-body">
                <div class="d-flex mainDiv">
                    <div class="card w-50 m-2">
                        <span>{{errorMessage}}</span>
                        <table class="table">
                            <tbody>
                                <tr *ngFor='let dictionary of dictionaries'>
                                    <td class="w-90">
                                        <div (click)="selectDictionary(dictionary.id)" class="border rounded-3 p3 m3 dict" [ngClass]="dictionary.isActive ? 'border-5' : 'border-1'">
                                            {{dictionary.name}}
                                        </div>
                                    </td>
                                    <td class="w-10">
                                        <button (click)="deleteDictionary(dictionary.id)" class="border border-3 rounded-3 p3 m3">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="border rounded-3 p-3 m-3 align-content-center bg-info-subtle" (click)="open(content)"><span>Add Dictionary</span></div>
                    </div>
                    <div class="card w-50 m-2">
                        <app-items [dictionaryID]='dictionaryID'></app-items>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Create Dictionary</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="mb-3">
                <label for="dateOfBirth">Name of Dictionary</label>
                <div class="input-group">
                    <input id="dictionaryName"
                           class="form-control"
                           placeholder="dictionary name"
                           [(ngModel)]="newDictionaryName"
                           [ngModelOptions]="{standalone: true}" />
                    
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close([newDictionaryName])">Create</button>
    </div>
</ng-template>
<pre>{{ closeResult }}</pre>
